<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Magazyn Page</title>
    <link rel="shortcut icon" href="https://clipground.com/images/telecom-icon-clipart-9.jpg">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" >
    <div class="container">
        <a class="navbar-brand" href="/">Operator Telekomunikacyjny</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

                <li class="nav-item">
                    <form method="post" th:action="@{/index}">
                        <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
    <h1 class="col bg-info text-center rounded" style="padding: 5px"> Magazyn </h1>
    </div>

</div>
</div>

<footer class="fixed-bottom text-center text-muted">
    <div class=" p-4 text-light" style="margin-bottom: 0; background-color: darkslategrey"> Wykonane przez:
        <a class="fw-bold"> <b>Adam Piwoński, Patrycja Trybułowska </b></a></div>
</footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>